﻿@model MyClass.Model.Topics

@{
    ViewBag.Title = "Thêm mới chủ đề bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content my-2">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger">THÊM MỚI CHỦ ĐỀ BÀI VIẾT</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="@Url.Action("Index", "Topic")" class="btn-sm btn-info"> <i class="fa fa-long-arrow-alt-left"></i> Quay lại</a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    @*Phan NOI DUNG*@
                    <div class="row">
                        @* Phần nhập tay *@
                        <div class="col-md-9">
                            <div class="form-group">
                                <label>Tên chủ đề <span class="text-danger"> (*)</span></label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Mô tả chi tiết <span class="text-danger"> (*)</span></label>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.MetaDesc, new { @class = "form-control", @rows = "3" })
                                    @Html.ValidationMessageFor(model => model.MetaDesc, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Từ khóa <span class="text-danger"> (*)</span></label>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.MetaKey, new { @class = "form-control", @rows = "3" })
                                    @Html.ValidationMessageFor(model => model.MetaKey, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        @* Phần lựa chọn *@
                    <div class="col-md-3">

                        <div class="form-group">
                            @Html.LabelFor(model => model.ParentId, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.ParentId, (SelectList)ViewBag.CatList, "Cấp 0", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Sắp xếp <span class="text-danger"></span></label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Order, (SelectList)@ViewBag.OrderList, "Sắp xếp", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Trạng thái <span class="text-danger"> (*)</span></label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Text = "Không xuất bản", Value = "2" }, new SelectListItem { Text = "Xuất bản", Value = "1" } }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                        </div>
                        @*Sua nut Create*@
                        <button class="btn-sm btn-success" type="submit" name="create"> Lưu [Thêm] <i class="fa fa-save"></i> </button>


                    </div><!-- /.card-body -->
            </div><!-- /.card -->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
}
