@model IEnumerable<MyClass.Model.Suppliers>

@{
    ViewBag.Title = "Trang chủ nhà cung cấp";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@section header{
    <link href="~/Public/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section footer{
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script>let table = new DataTable('#myTable');</script>
}
<div class="wrapper">
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger">DANH MỤC NHÀ CUNG CẤP</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="@Url.Action("Create", "Supplier")" class="btn-sm btn-success"><i class="fa fa-plus"> Thêm mới</i></a>
                            <a href="@Url.Action("Trash", "Supplier")" class="btn-sm btn-danger"><i class="fa fa-trash"></i> Thùng rác</a>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @*/hien thi dong thong bao*@
                    @Html.Partial("Message")

                    <table class="table table-bordered  table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Id)</th>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Slug)</th>
                                <th>@Html.DisplayNameFor(model => model.FullName)</th>
                                <th>@Html.DisplayNameFor(model => model.Order)</th>
                                <th>@Html.DisplayNameFor(model => model.Phone)</th>
                                <th>@Html.DisplayNameFor(model => model.Email)</th>
                                <th>@Html.DisplayNameFor(model => model.Image)</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Slug)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Order)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td><img src="~/Public/img/supplier/@item.Image" alt="Img" class="img-fluid"/></td>
                                    <td>
                                        @if (item.Status == 1)
                                        {
                                            <a href="@Url.Action("Status", "Supplier", new { id = item.Id })" class="btn-sm btn-success"><i class="fa fa-toggle-on"></i></a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Status", "Supplier", new { id = item.Id })" class="btn-sm btn-danger"><i class="fa fa-toggle-off"></i></a>
                                        }
                                        <a href="@Url.Action("Edit", "Supplier", new { id = item.Id })" class="btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                                        <a href="@Url.Action("Details", "Supplier", new { id = item.Id })" class="btn-sm btn-info"><i class="fa fa-eye"></i></a>
                                        <a href="@Url.Action("DelTrash", "Supplier",  new { id = item.Id })" class="btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>


                    </table>

                </div> <!-- /.card-footer-->
            </div><!-- /.card -->
        </section><!-- /.content -->
    </div> <!-- /.content-wrapper -->
</div>
