@model IEnumerable<MyClass.Model.Categories>

@{
    ViewBag.Title = "DANH MỤC LOẠI HÀNG";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
    <link href="~/Public/css/jquery.dataTables.min.css" rel="stylesheet"/>
}
@section footer{
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script> let table = new DataTable('#myTable');</script>
}
<div class="wrapper">
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger">DANH MỤC LOẠI HÀNG</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="@Url.Action("Create", "Category")" class="btn-sm btn-success"><i class="fa fa-plus"> Thêm mới</i></a>
                            <a href="@Url.Action("Trash", "Category")" class="btn-sm btn-danger"><i class="fa fa-trash"></i> Thùng rác</a>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                @*/hien thi dong thong bao*@
                @Html.Partial("Message")

                    <table class="table table-bordered  table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Id)</th>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Slug)</th>
                                <th>@Html.DisplayNameFor(model => model.ParentId)</th>
                                <th>@Html.DisplayNameFor(model => model.Order)</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Slug)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ParentId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Order)</td>
                                    <td>
                                        @if (item.Status == 1)
                                        {
                                            <a href="@Url.Action("Status", "Category", new { id = item.Id })" class="btn-sm btn-success"><i class="fa fa-toggle-on"></i></a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Status", "Category", new { id = item.Id })" class="btn-sm btn-danger"><i class="fa fa-toggle-off"></i></a>
                                        }
                                        <a href="@Url.Action("Edit", "Category", new { id = item.Id })" class="btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                                        <a href="@Url.Action("Details", "Category", new { id = item.Id })" class="btn-sm btn-info"><i class="fa fa-eye"></i></a>
                                        <a href="@Url.Action("DelTrash", "Category",  new { id = item.Id })" class="btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                       

                    </table>

                </div> <!-- /.card-footer-->
            </div><!-- /.card -->
        </section><!-- /.content -->
    </div> <!-- /.content-wrapper -->
</div><!-- ./wrapper -->